*.exe
cert-encrypted.key
https-server.crt
https-server.key
positions.tex
wwwroot/tex/texput.log
wwwroot/tex/cv.out
wwwroot/tex/cv.log
wwwroot/tex/cv.aux
pages/cv.pdf
texput.log
wwwroot/node_modules/
wwwroot/yarn.lock
wwwroot/tex/cv.pdf
