<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <style>
        .table-dark.table-bordered {
            border: 20;
        }
    </style>
</head>
<style>
    hr.style1 {
        border-top: 5px solid rgb(56, 115, 178);
        margin-bottom: 8px;
    }

    body {
        background-color: rgba(52, 84, 88, 0.171);
    }

    .list-group-item-dark {
        background-color: rgba(52, 84, 88, 0);
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
    }
</style>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                Persönliche Daten

                <div class="row">
                    <div class="col-sm-3">
                        Geboren am
                    </div>
                    <div class="col-sm-9">
                        25.05.1978 in Singen am Hohentwiel
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Berufserfahrung

                {{range $p := .}}
                <div class="row">
                    <div class="col-sm-3"> {{$p.From}}</div>
                    <div class="col-sm-9">

                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <strong>{{$p.Type}}</strong>
                                </div>
                                <div class="col-sm">
                                    <i><a href={{$p.OrgLink}}>{{$p.Org}}</a></i>
                                </div>
                                <div class="col-sm">
                                    {{$p.Where}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    {{$p.Does}}
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <ul class="list-group">
                                            {{range $t := $p.Topics}}

                                            {{ if  eq $t "\\beginitemize" }}
                                            <div class="container">
                                                <ul class="list-group">
                                                    {{ else if eq $t "\\enditemize" }}
                                                </ul>
                                            </div>
                                            {{ else }}
                                            <li class="list-group-item-dark">
                                                {{range $s := Split $t " "}}
                                                {{$text := GetHREFText $p $s}}
                                                {{ if $text }}
                                                <a href={{ GetHREFText $p $s }}>{{StripHREFIndicator $s}}</a>
                                                {{ else }}
                                                {{$s }}
                                                {{end}}
                                                {{end}}
                                            </li>
                                            {{ end }}
                                            {{end}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</body>

</html>