<!DOCTYPE html>
<html lang="en">

<head>
    <title>Martin Schulze</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>

    <style>
        .table-dark.table-bordered {
            border: 20;
        }
    </style>
</head>
<style>
    hr.style1 {
        border-top: 5px solid rgb(56, 115, 178);
        margin-bottom: 8px;
    }

    body {
        background-color: rgba(52, 84, 88, 0.171);
    }

    .list-group-item-dark {
        background-color: rgba(52, 84, 88, 0);
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Martin Schulze</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/{{lang}}">{{- enDe "Curriculum Vitae" "Lebenslauf" -}} <span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/{{lang}}/cv.pdf">{{- enDe "Show PDF" "Zeige PDF" -}}</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/{{lang}}" id="dropdown09" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">{{- enDe "English" "Deutsch" -}}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown09">
                        {{ if eq lang "de"}}
                        <a class="dropdown-item" href="/en"><span class="flag-icon flag-icon-us"> </span>English</a>
                        {{ else }}
                        <a class="dropdown-item" href="/de"><span class="flag-icon flag-icon-de"> </span>Deutsch</a>
                        {{ end }}
                    </div>
                </li>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-sm">
                    <img src="/images/IMG_9105_smaller.JPG" alt="foto" width="142">
            </div>
            <div class="flex-container flex-end align-self-end" >
                    <div class="row" style="font-size: 52px;">
                        <div class="col-sm align-self-end" style="color: rgb(185, 185, 185);">Martin</div>
                        <div class="col-sm" style="color: rgb(145, 145, 145);">Schulze</div> 
                    </div>
                
            </div>
        </div>
    </div>
    </div>
    <hr style="border-top: 3px solid rgb(185, 185, 185);"></hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                {{- index .Titles "about" -}}
                {{range $key, $val := .About}}
                <div class="row">
                    <div class="col-sm-3">{{$key}}</div>
                    <div class="col-sm-9">
                            {{$val}}
                    </div>
                </div>
                {{end}}
            </div>
            
        </div>
        <div class="row">
            <div class="col-sm">
                {{- index .Titles "professional" -}}
                {{- block "entries" .Professional -}}
                {{range $p := .}}
                <div class="row">
                    <div class="col-sm-3"> {{$p.From}}</div>
                    <div class="col-sm-9">

                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <strong>{{$p.Type}}</strong>
                                </div>
                                <div class="col-sm">
                                    {{- if $p.OrgLink -}}
                                    <i><a href={{$p.OrgLink}}>{{$p.Org}}</a></i>
                                    {{ else }}
                                    <i>{{$p.Org}}</i>
                                    {{ end }}
                                </div>
                                <div class="col-sm">
                                    {{$p.Where}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    {{$p.Does}}
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <ul class="list-group">
                                            {{range $t := $p.Topics}}

                                            {{ if  eq $t "\\beginitemize" }}
                                            <div class="container">
                                                <ul class="list-group">
                                                    {{ else if eq $t "\\enditemize" }}
                                                </ul>
                                            </div>
                                            {{ else }}
                                            <li class="list-group-item-dark">
                                                {{range $s := Split $t " "}}
                                                {{$text := GetHREFText $p $s}}
                                                {{ if $text }}
                                                <a href={{ GetHREFText $p $s }}>{{StripHREFIndicator $s}}</a>
                                                {{ else }}
                                                {{$s }}
                                                {{end}}
                                                {{end}}
                                            </li>
                                            {{ end }}
                                            {{end}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
                {{- end -}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                {{- index .Titles "study" -}}
                {{- template "entries" .Study -}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                {{- index .Titles "education" -}}
                {{- template "entries" .Education -}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                {{- index .Titles "experience" -}}
                {{range $key, $val := .Experience}}
                <div class="row">
                    <div class="col-sm-3">{{$key}}</div>
                    <div class="col-sm-9">
                        <div class="col-sm">
                            {{$val}}
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                {{- index .Titles "interests" -}}
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-3">     </div>
                    <div class="col-sm-9">
                                {{- .Interests -}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>